.container{
    margin: 60px;
    color: white;
}
body{
    background-color: rgb(128, 188, 228);
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.left-container{
    width: 30%;
}

.right-container img{
    height: 200px;
    width: 200px;
}

#button1{
    margin: 20px auto;
    height: 50px;
    width: 150px;
    background: #17ace8;
    color: white;
    border: none;
    cursor: pointer;
}