.Register{
    text-align: center;
    margin: 10vh;
}

.Register h1{
    color: grey;
}
.RegisterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterName{
    height: 100px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.RegisterName input{
    margin-left: 30px;
}

.submit{
    margin: 20px auto;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit button{
    height: 30px;
    width: 60px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #e3cdcd;
    color: black;
    cursor: pointer;
}